<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/presence.css') }}" media="all" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/static/js/basic.js"></script>
    <script type="text/javascript">
{% block js %}{% endblock %}
</script>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
               <li{% if title == "Presence by weekday" %} id="selected"{% endif %}><a href="{{ url_for('presence_weekday_ui_view') }}">Presence by weekday</a></li>
               <li{% if title == "Presence mean time by weekday" %} id="selected"{% endif %}><a href="{{ url_for('mean_time_weekday_ui_view') }}">Presence mean time</a></li>
               <li{% if title == "Presence start-end weekday" %} id="selected"{% endif %}><a href="{{ url_for('presence_start_end_ui_view') }}">Presence start-end</a></li>
            </ul>
        </div>
        <div id="content">
            <h2>{{ title }}</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>

    </div>
</body>
</html>

