<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/presence.css') }}" media="all" rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ url_for('static', filename='js/basic.js') }}"></script>
    <script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            $('#user_id').change(function(){
                var selected_user = $('#user_id').val();
                var avatar_div = $('#avatar_div');
                var avatar_url = null;
                if (selected_user) {
                    avatar_div.hide();
                    $.getJSON("{{ url_for('users_view') }}", function(result){
                        $.each(result, function(item){
                            if (selected_user == this.user_id) {
                                avatar_url = this.avatar;
                           }
                        });
                        avatar_div.empty();
                        if (avatar_url != null) {
                            avatar_div.append("<img src="+avatar_url+"></img>");
                            avatar_div.show();
                        }
                    });
                }
            });
        });
    })(jQuery);
    {% block js %}{% endblock %}
    </script>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
               <li{% if title == "Presence by weekday" %} id="selected"{% endif %}><a href="{{ url_for('ui_view', view='presence_weekday') }}">Presence by weekday</a></li>
               <li{% if title == "Presence mean time by weekday" %} id="selected"{% endif %}><a href="{{ url_for('ui_view', view='mean_time_weekday') }}">Presence mean time</a></li>
               <li{% if title == "Presence start-end weekday" %} id="selected"{% endif %}><a href="{{ url_for('ui_view', view='presence_start_end') }}">Presence start-end</a></li>
            </ul>
        </div>
        <div id="content">
            <h2>{{ title }}</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="avatar_div" style="display: none">
                </div>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>

    </div>
</body>
</html>

