{% extends "basic.html" %}
{% block js %}
        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                $.getJSON("{{ url_for('users_view') }}", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    var chart_div = $('#chart_div');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        $.getJSON("{{ url_for('presence_start_end_view') }}"+selected_user, function(result) {

                        for(var i = 0; i < result.length; i++){
                            result[i][1] = new Date(1, 1, 1, result[i][1]/3600, (result[i][1]%3600)/60, result[i][1]%60);
                            result[i][2] = new Date(1, 1, 1, result[i][2]/3600, (result[i][2]%3600)/60, result[i][2]%60);
                        }

                        var data = new google.visualization.DataTable();
                        
                        data.addColumn('string', 'Weekday');
                        data.addColumn({ type: 'datetime', id: 'Start' });
                        data.addColumn({ type: 'datetime', id: 'End' });
                        data.addRows(result);
                        var options = {
                            hAxis: {title: 'Weekday'}
                        };
                        var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                        formatter.format(data, 1);
                        formatter.format(data, 2);

                        chart_div.show();
                        loading.hide();
                        var chart = new google.visualization.Timeline(chart_div[0]);
                        chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
{% endblock %}

